# Frontend
TodoListFron/node_modules/
TodoListFron/build/
TodoListFron/.env

# Backend
protecto_final/target/
protecto_final/.mvn/
protecto_final/mvnw
protecto_final/mvnw.cmd

# Entornos, IDEs y SO
.idea/
.vscode/
.github/
*.DS_Store